/* styling the header */

header{
  margin: 20;
  text-align: center;
  font-family: monospace ;
}

/* centre align main heading */

.mainheading{
  text-align: center;
  
}



/*  set the colour of each page to light grey */

body {
    
    background-image: url("../images/background2.jpg");
    margin: 0;
    padding: 0;
    font-family: arial;
 }

/*  styling the menu */

.nav{
  
  border-width:1px 0;
  list-style-type: none;
  margin:0;
  padding:0;
  flex: wrap;
  width: 100%;
  background: #f0f0f0;
  
  
}

nav ul{
  display:flex;
  justify-content: space-between;
}

ul{
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;

}

ul li{
  list-style:  none;
  padding: 10px 20px;
  flex: 1 1 0;
}

ul li a{
  text-decoration: none;
  font-size: 2em;
  color: #262626;
  position: relative;

}


/* hover effects for menu items */

ul li a:before{
  content: '';
  width: 0;
  height: 5px;
  background: #00bcd4;
  position: absolute;
  top: 100%;
  left: 0;
  transition: .5s;
}

ul li:hover a:before{
  width: 100%;
}


/* settings for flex container welcomebox */

.welcomebox{
  display: flex;
  justify-content: center;
  font-size: 1em;
  flex-wrap: wrap;
}

.logo{
  background: url("../images/panasonics.jpg");
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 420px;
  width: 50%;
  
  flex-basis: 30%;/*
  max-height: 100%;
  max-width: 100%;
  flex-direction: column; */
} 



.welcome{
  margin-top: 20px;
  height: 300px;
  width: 60%;
  text-align: center;
  font-size: 1em;
  
}

.welcome > p {
  text-align: center;
}


footer{
  display: flex;
  margin-top: 200px;
  font-size: 1em;
  
}

h3{
  text-align: center;
}

.playingat{
  text-align: center;
}

/* social media links settings */


/* gallery page styling */

.galleryheading{
  text-align: center;
  font-size: 4em;
}

.imageintro {
  text-align: center;
  font-size: 4em;
}

.imagedesription{
  font-size:2em;
  text-align: center;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}



/* contact page settings for layout */
.contactheading{
  text-align: center;
}

.contacttext{
  text-align: center;
}

/* media queries for home page*/

@media (max-width: 600px){
  .nav{
    flex-direction:column;
  }
}

@media (max-width:  400px) {
  .welcomebox{
    flex-direction:column;
  }
}

@media (max-width:  400px) {
  .logo {
    flex-direction:column;
  }
}

@media (max-width:  400px) {
  .socialmedialinks{
    flex-direction:column;
  }
}

/* media settings for gallery page */

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
 header div { margin: 0; }
  header { padding: 0; }
  
}
