/* styling the header */

header{
  margin: 20;
  text-align: center;
}

/* centre align main heading */

.mainheading{
  text-align: center;
  
}

.container{
  margin: 0 auto;
}

/*  set the colour of each page to light grey */

body {
    
    background-image: url("../images/background2.jpg");
    margin: 0;
    padding: 0;
    font-family: arial;
 }

/*  styling the menu */

.nav{
  border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
  

ul{
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;

}

ul li{
  list-style:  none;
  padding: 10px 20px;
}

ul li a{
  text-decoration: none;
  font-size: 2em;
  color: #262626;
  position: relative;

}

/* hover effects for menu items */

ul li a:before{
  content: '';
  width: 0;
  height: 5px;
  background: #00bcd4;
  position: absolute;
  top: 100%;
  left: 0;
  transition: .5s;
}

ul li:hover a:before{
  width: 100%;
}


/* putting the logo into row 2 */

.welcomebox{
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.logo{
  background: url("../images/panasonics.jpg");
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; 
  width: 400px;
  max-width: 100%;

}

.welcome{
  margin-top: 20px;
  height: 300px;
  width: 60%;
  text-align: center;
  font-size: 1em;
  
}

.welcome > p {
  text-align: center;
}

.newsbox{
  margin-top: 20px;
  
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  font-size: 1em;
  text-align: center;
}



footer{
  display: flex;
  
  margin-top: 40px;
  font-size: 1em;
  text-align: center;
}

h3{
  text-align: center;
}

.playingat{
  text-align: center;
}

